ul {
  list-style-type: none;
  overflow: hidden;
  position: sticky;
}

li a {
  display: block;
  float: right;
  color: black;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

li b {
  float: left;
  display: block;
  color: black;
  font-size: 34px;
  text-align: center;
  margin-left: 0.25cm;
  text-decoration: none;
}

li a:hover {
  background-color: azure;
  border-radius: 15px;
}

body {
  background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.aarp.org%2Ftravel%2Fdestinations%2Funited-states%2Fwashington-dc%2F&psig=AOvVaw00ysiCaDyh25Jzp59qB9SF&ust=1592853228402000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKD7ounOk-oCFQAAAAAdAAAAABAD');
}

