ul {
  list-style-type: none;
  overflow: hidden;
  position: sticky;
}

li a {
  display: block;
  float: right;
  color: black;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

li b {
  float: left;
  display: block;
  color: black;
  font-size: 34px;
  text-align: center;
  margin-left: 0.25cm;
  text-decoration: none;
}

li a:hover {
  background-color: azure;
  border-radius: 15px;
}

.sectionHeaders {
  text-align: center;
  text-decoration: underline;
  margin-top: 50px;
}

.navbar {
  background-color:ivory;
}

.contactItems {
  text-align: center;
}





